/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Fondo de pantalla */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
}

/* Contenedor del contenido */
h1, p {
    background: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}

/* Mejoras en el título */
h1 {
    font-size: 2.5rem;
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Párrafos */
p {
    font-size: 1.2rem;
    align-items: center;
}
.titulo {
    color: black;
}

#preguntasGustos {
    color: black;
    text-align: center;
    align-items: center;
}

/* Botón */
button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #0056b3;
}

/* Resultados */
#resultados {
    background: rgba(0, 0, 0, 0.8);
    color: #ffcc00;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oculto {
    display: none;
}

/* Botones de Sí/No */
.boton-respuesta {
    background: #28a745;
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.boton-respuesta.no {
    background: #dc3545;
}

.boton-respuesta:hover {
    opacity: 0.9;
}

/* Estilo para marcar el botón seleccionado */
.seleccionado {
    background-color: #ffc107; 
    color: #000; 
    border: 2px solid #ffcc00;
}

/* Alineación del contenedor de las preguntas */
#preguntasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Alineación de las preguntas y botones */
#preguntasGustos {
    margin-top: 20px;
    color: #fff;
}
